.dashboard .container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.sideBar .dashBoardLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 50vh;
  margin: auto;
  margin-top: 1rem;
  flex-direction: column;
}

.dashBoardLinks .links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000a;
}

.links a {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}

.container .sideBar {
  height: 100%;
  flex: 2;
  text-align: center;
  border-right: 1.4px solid var(--main_color);
  position: sticky;
  top: 0;
}

.container .hero {
  flex: 10;
  height: 100%;
}

.dashboardContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.hero .userInfo {
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.userInfo .card {
  width: 25%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  line-height: 1rem;
  box-shadow: 0px 0px 2px #000a;
}

.dashboardFormContainer {
  display: flex;
  width: 60%;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0px 0px 3px var(--main_color);
  margin: auto;
  padding: 1.5rem;
  border-radius: 7px;
}

.inputs {
  width: 90%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 2rem;
  flex-wrap: wrap;
}

.inputs .inputContainer {
  margin-bottom: 1.4rem;
  height: fit-content;
  width: fit-content;
}

.inputs .dashboardInput {
  width: 13rem;
  height: 2.5rem;
  margin-right: 1.4rem;
  padding-left: 1rem;
  border-radius: 7px;
  border: 1px solid var(--main_color);
}

.inputs .dashboardInput:focus,
.dashboardFormContainer textarea:focus {
  border: 2px solid var(--main_color);
  outline: none;
}

.dashboardFormContainer textarea {
  width: 20rem;
  height: 13rem;
  margin-right: 1.4rem;
  padding-left: 1rem;
  border-radius: 7px;
  border: 2px solid var(--main_color);
  resize: none;
  padding-top: 0.4rem;
  margin-bottom: 2em;
}

.dashboardFormBtn {
  width: 50%;
  color: var(--main_color);
  background-color: #ffffff;
  border-radius: 7px;
  text-align: center;
  padding: 0.7rem 0;
  height: 2.5rem;
  outline: none;
  box-shadow: 0px 0px 2px var(--main_color);
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: 600ms;
}

.dashboardFormBtn:hover {
  background-color: var(--main_color);
  color: white;
}
